<!DOCTYPE html>
<html>
<body>  
    <div class="ui-g">
            <div class="ui-g-12 ui-md-12">
 <p-dataView #dv [value]="result"  [paginator]="true" paginatorPosition="both" [rows]="20" [first]="kam" (onPage)="lok($event)">
        <p-header>
                <div class="ui-helper-clearfix">
                      
                    <div class="ui-g">
                       
                            <div class="ui-g-12 filter-container" style="position:relative"><div class="ui-g-2"><img src="{{path}}assets/images/tripwire2.png" height="70px" width="170px"/></div>
                                <div class="ui-g-10">
                               <div class="pi pi-search searchbox ui-g-10"> <input class="inputsearchbox" type="search" value="" pInputText placeholder="Search.." (keydown.enter)="updateSearch($event)"></div>
                            </div>
                            </div>
                        
                            
                    </div>
                </div>
                
            </p-header>
            <ng-template  pTemplate="listItem" let-x>
                    <ng-container >
                   <div class="datatable" id="tab"  >
                        <p class="text">Title : {{x.Title}}</p>
                        <p  class="text" ><a href="{{fileUrl}}{{x.issue_article}}" target="_blank" >{{x.issue_article}}</a><br/><a href="{{fileUrl}}{{x.resolution_article}}" target="_blank" >{{x.resolution_article}}</a></p>
                        <br/>
                        <div  class="ui-g-12">
                        <div class="ui-g-3"><span class="score">Score:</span><span class="scoreinfo">{{x._score}}</span></div> <div  class="ui-g-7"  ><p  class="info"  [innerHTML]="x.highlight_content" ></p></div><div class="ui-g-2"><span><p-radioButton class="radio" (onClick)="checkedData(i,x.Title,x.highlight_content)"  ></p-radioButton><p-button  (click)="displayData(x.Title,x.highlight_content,i,x._id)" label="Submit Feedback" class="ui-button-rounded" ></p-button></span></div></div><hr>
                   </div>

        <p-toast position="center" [style]="{textAlign:'center'}"></p-toast>
                </ng-container>
            </ng-template>

   </p-dataView>



</div>
</div>
</body></html>